@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-letra: rgb(46, 45, 45);
    --fuente: "Inter", Sans-serif
}

.foto-retrato{
    width: 485px;
}

.icon-menu{
    width: 30px
}

.icon-redes{
    width: 21px;
    position: relative;
    top: 1.6px;
    margin-right: 10px;
}

body{
    margin: 0px;
}

.header{
    margin: 0px;
    display: flex;
    height: 15vh;
    align-items: center;
    /* background-color: aqua; */
    border-bottom: 2px solid #d3d3d3;
}

.vacio-der, .vacio-izq{
    width: 5%;
    /* background-color: aqua; */
}

.header-info{
    display: flex;
    width: 90%;
    height:100%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    /* background-color: coral; */
}

.header-marca{
    padding: 0px 0px 0px 50px;
    align-self: center;
}

.header-redes{
    display: flex;
    margin: 0px 0px 0px 220px;
    align-items: center;
    /* background-color: gold; */
}

.nombre-redes{
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 480;
    color: var(--color-letra);
    text-decoration: none;
}

.redes{
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    display: flex; 
    height: 45%;   
    margin: 6px;
    border: 1px solid #f0eded;
}

.header-menu{
    margin-left: 280px;
    align-self: center;
}

.header-marca-letra{
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-size: 27px;
}

.header-marca-letra{
    text-decoration: none;
    color: black;
}

.hero{
    display: flex;
    border-bottom: 2px solid #d3d3d3;

}

.hero-info{
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.hero-info-texto{
    padding-left: 40px;
    /* margin-top: 5px; */
    /* background-color: aquamarine; */
}

.hero-info-img{
    /* background-color: aquamarine; */
    border-left: 1px solid #dbdbdb;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.hero-info-texto-title{
    font-family: "Inter", Sans-serif;
    font-size: 60px;
    color: var(--color-letra);
    /* background-color: coral; */
    margin-bottom: 30px;
}

.button{
    padding: 16px 32px;
    /* margin: 0px; */
    background-color: #FEC737;
    font-family: "Inter", Sans-serif;
    color: var(--color-letra);
    font-size: 16px;
    font-weight: 600;
    border-width: 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 0px 0px;
    box-shadow: rgb(31, 30, 30);
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(44, 43, 43);
    color: #FEC737;
    box-shadow: rgb(31, 30, 30);
    cursor: pointer;
    animation: presionarboton 0.5s forwards;
}

.button:not(:hover){
    animation: notpresionarboton 0.5s;
}

@keyframes presionarboton{
    0%{
        transform: translateX(0);
        /* transform: translateY(0); */
        box-shadow: 5px 5px 0px 0px;
    }
    100%{
        transform: translateX(5px);
        /* transform: translateY(5px); */
        box-shadow: 0px 0px 0px 0px;
    }
}

@keyframes notpresionarboton{
    0%{
        transform: translateX(5px);
        /* transform: translateY(0); */
        box-shadow: 0px 0px 0px 0px;
    }
    100%{
        transform: translateX(0px);
        /* transform: translateY(-5px); */
        box-shadow: 5px 5px 0px 0px;
    }
}

.empresas{
    height: 17vh;
    border-bottom: 2px solid #d3d3d3;
    display: flex;
}

.empresas-info{
    width: 90%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.empresas-info-logo{
    height: 11vh;
    color: #cfcfcf;
}

.aboutme{
    display: flex;
    border-bottom: 2px solid #d3d3d3;
    height: 100vh;
}

.aboutme-info{
    width: 90%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
}

.aboutme-info-img{
    padding-left: 60px;
    padding-top: 65px;
    padding-bottom: 40px;
}

.aboutme-info-texto{
    margin-left: 110px;
    margin-top: 65px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-family: var(--fuente);
}

.seccion{
    padding: 1px 20px;
    background-color: #1DBF73;
    border-radius: 50px;
    border-color: none;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
}



.aboutme-info-texto-seccion{
    width: 60px;
}

.aboutme-info-texto-h3{
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--color-letra);
}

.aboutme-info-texto-p{
    width: 475px;
    font-size: 17px;
    line-height: 1.5;
    color: #5c5c5c;
}

.aboutme-info-texto-button{
    margin-top: 15px;
    /* color: var(--color-letra); */
}

.servicios{
    display: flex;
    border-bottom: 2px solid #d3d3d3;
    height: 100vh;
}

.servicios-info{
    width: 90%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    font-family: var(--fuente);
}

.servicios-info-info{
    width: 100%;
    height: 90%;
    margin-top: 40px;
    /* background-color: coral; */
    /* justify-content: center; */
    /* align-items: center; */
}

.servicios-info-info-seccion{
    width: 80px;
    position: relative;
    left: 70px;
}

.servicios-info-info-texto{
    text-align: center;
    font-size: 50px;
    color: var(--color-letra);
    margin-top: 25px;
}

.servicios-info-info-contenedora{
    background: url("../images/background.svg") no-repeat center center/cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #FEC737; */
    height: 455px;
    padding: 0px 20px;
    margin: 0px 20px;
}

.servicios-bloques{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: white;
    margin: 20px 0px;
    height: 415px;
    width: 320px;
    align-items: center;
    transition: 0.5s;
}



.servicios-bloques-logo{
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logodisenioweb{
    width: 128px;
}

.servicios-button{
    margin-top: 40px;
}

.servicios-info-info-seccion{
    /* width: 60px; */
    height: 30px;
    margin: 0px 460px;
    padding-top: 13px;
}

.servicios-bloques-nombre{
    font-size: 25px;
    color: var(--color-letra);
    font-weight: 600;
}

.servicios-button{
    padding: 16px 32px;
    /* margin: 0px; */
    background-color: #FEC737;
    font-family: "Inter", Sans-serif;
    color: var(--color-letra);
    font-size: 16px;
    font-weight: 600;
    border-width: 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 0px 0px;
    box-shadow: rgb(31, 30, 30);
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

.servicios-bloques:hover{
    background-color: #FEC737;
    box-shadow: 10px 10px 0px 0px;
    cursor: pointer;
}

.servicios-bloques:hover p{
    background-color: rgb(44, 43, 43);
    color: white;
    box-shadow: rgb(31, 30, 30);
    cursor: pointer;
    animation: presionarboton 0.5s forwards;
}

.servicios-bloques:not(:hover) p{
    animation: notpresionarboton 0.5s;
}

.button-gestiondedatos{
    background-color: #1DBF73;
    /* color: white; */
    width: 85px;
    margin-left: 28px;
    box-shadow: rgb(31, 30, 30);
    box-shadow: 5px 5px 0px 0px;
}

.button-disenioweb{
    margin-top: 48px;
}