@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-letra: rgb(46, 45, 45);
    --fuente: "Inter", Sans-serif
}



.icon-menu{
    width: 30px
}

.icon-redes{
    width: 21px;
    position: relative;
    top: 1.6px;
    padding-right: 10px;
}

body{
    margin: 0px;
    width: 100vw;
}

.header{
    margin: 0px;
    display: flex;
    height: 15vh;
    align-items: center;
    /* background-color: aqua; */
    border-bottom: 2px solid #d3d3d3;
    width: 100vw;
}

.vacio-der, .vacio-izq{
    width: 5vw;
    /* background-color: aqua; */
}

.header-info{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height:100%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    /* background-color: coral; */
}

.header-marca{
    padding: 0px 0px 0px 3vw;
    align-self: center;
}

.header-redes{
    display: flex;
    /* padding: 0 0vh 0vh; */
    align-items: center;
    /* background-color: gold; */
}

.nombre-redes{
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 480;
    color: var(--color-letra);
    text-decoration: none;
}

.redes{
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    display: flex; 
    height: 45%;   
    /* margin: 6px; */
    border: 1px solid #f0eded;
    margin: 0vw 0.5vw;
}

.header-menu{
    padding-right: 6vw;
    align-self: center;
}

.header-marca-letra{
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-size: 27px;
}

.header-marca-letra{
    text-decoration: none;
    color: black;
}

.hero{
    display: flex;
    border-bottom: 2px solid #d3d3d3;
    width: 100vw;
    height: 75vh;
}

.hero-info{
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.hero-info-texto{
    padding-left: 40px;
    margin-top: 40px;
    /* background-color: aquamarine; */
}

.hero-info-img{
    /* background-color: aquamarine; */
    border-left: 1px solid #dbdbdb;
    /* padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px; */
    padding: 2vw;
    display: flex;
    align-items: center;
}

.foto-retrato{
    width: 485px;
}

.hero-info-texto-title{
    font-family: "Inter", Sans-serif;
    font-size: 60px;
    color: var(--color-letra);
    /* background-color: coral; */
    margin-bottom: 30px;
}

.button{
    padding: 22px 32px;
    /* margin: 0px; */
    background-color: #FEC737;
    font-family: "Inter", Sans-serif;
    color: var(--color-letra);
    font-size: 16px;
    font-weight: 600;
    border-width: 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 0px 0px;
    box-shadow: rgb(31, 30, 30);
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(44, 43, 43);
    color: #FEC737;
    box-shadow: rgb(31, 30, 30);
    cursor: pointer;
    animation: presionarboton 0.5s forwards;
}

.button:not(:hover){
    animation: notpresionarboton 0.5s;
}

@keyframes presionarboton{
    0%{
        transform: translateX(0);
        /* transform: translateY(0); */
        box-shadow: 5px 5px 0px 0px;
    }
    100%{
        transform: translateX(5px);
        /* transform: translateY(5px); */
        box-shadow: 0px 0px 0px 0px;
    }
}

@keyframes notpresionarboton{
    0%{
        transform: translateX(5px);
        /* transform: translateY(0); */
        box-shadow: 0px 0px 0px 0px;
    }
    100%{
        transform: translateX(0px);
        /* transform: translateY(-5px); */
        box-shadow: 5px 5px 0px 0px;
    }
}

.empresas{
    height: 17vh;
    border-bottom: 2px solid #d3d3d3;
    display: flex;
    width: 100vw;
}

.empresas-info{
    width: 90%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.empresas-info-logo{
    /* height: 11vh; */
    width: 100px;
    color: #cfcfcf;
}

.aboutme{
    display: flex;
    border-bottom: 2px solid #d3d3d3;
    height: 100vh;
    width: 100vw;
}

.aboutme-info{
    width: 90vw;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutme-info-img{
    padding-left: 60px;
    padding-top: 65px;
    padding-bottom: 40px;
}

.aboutme-info-texto{
    margin-left: 30px;
    margin-top: 65px;
    margin-bottom: 0px;
    /* margin-right: 10px; */
    font-family: var(--fuente);
    max-width: 420px;
}

.seccion{
    padding: 1px 20px;
    background-color: #1DBF73;
    border-radius: 50px;
    border-color: none;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
}



.aboutme-info-texto-seccion{
    width: 60px;
}

.aboutme-info-texto-h3{
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--color-letra);
}

.aboutme-info-texto-p{
    /* max-width: 475px; */
    font-size: 17px;
    line-height: 1.5;
    color: #5c5c5c;
}

.aboutme-info-texto-button{
    margin-top: 15px;
    padding: 22px 32px;
    background-color: #FEC737;
    font-family: "Inter", Sans-serif;
    color: var(--color-letra);
    font-size: 16px;
    font-weight: 600;
    border-width: 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 0px 0px;
    box-shadow: rgb(31, 30, 30);
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

.aboutme-info-texto-button:hover{
    background-color: rgb(44, 43, 43);
    color: #FEC737;
    box-shadow: rgb(31, 30, 30);
    cursor: pointer;
    animation: presionarboton 0.5s forwards;
}

.aboutme-info-texto-button:not(:hover){
    animation: notpresionarboton 0.5s;
}

.servicios{
    display: flex;
    border-bottom: 2px solid #d3d3d3;
    height: 100vh;
    width: 100vw;
    /* background-color: burlywood; */
}

.servicios-info{
    width: 90vw;
    height: 100%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    font-family: var(--fuente);
    color: var(--color-letra);
    align-items: center;
    /* padding: 3vh 0px; */
    /* padding-top: 2vh; */
    /* padding-bottom: 5vh; */
    /* background-color: aquamarine; */
}

.servicios-info-info{
    width: 100%;
    height: 90%;
    margin-top: 5px;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios-info-info-seccion{
    width: 80px;
    padding-bottom: 0px;
    /* position: relative;
    left: 70px; */
}

.servicios-info-info-texto{
    text-align: center;
    font-size: 40px;
    color: var(--color-letra);
    margin-top: 25px;
}

.servicios-info-info-contenedora{
    background: url("../images/background.svg") no-repeat center center/cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #FEC737; */
    height:65%;
    padding: 0px 20px;
    /* margin-bottom: 10px; */
    width: 80%;
    align-items: center;
    /* flex-wrap: wrap; */
}

.servicios-bloques{
    padding: 5px 0vw;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: white;
    margin: 20px 20px;
    height: 390px;
    width: 300px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
/* 
.bloque-gestiondedatos{
    padding: 20px 0vw;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: white;
    margin: 20px 20px;
    height: 390px;
    width: 300px;
    /* align-items: center; */
    /* transition: 0.5s;
}  */

.servicios-bloques-logo{
    width: 150px;
    /* padding-top: 3vh; */
    /* padding-bottom: 2vh; */
    /* background-color: coral; */
}

.logodisenioweb{
    width: 128px;
}

.logo-gestion{
    padding: 30px 0vw;
    padding-bottom: 0px;
}


.servicios-button{
    /* margin-top: 40px; */
}

.servicios-info-info-seccion{
    /* width: 60px; */
    height: 30px;
    /* margin: 0px 460px; */
    padding-top: 13px;
}

.servicios-bloques-nombre{
    font-size: 25px;
    color: var(--color-letra);
    font-weight: 600;
    font-family: var(--fuente);
    /* margin-bottom: 20px; */
}

.nombre-gestion{
    margin-bottom: 1vh;
}

.servicios-button{
    padding: 16px 32px;
    /* margin: 0px; */
    background-color: #FEC737;
    font-family: "Inter", Sans-serif;
    color: var(--color-letra);
    font-size: 16px;
    font-weight: 600;
    border-width: 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 0px 0px;
    box-shadow: rgb(31, 30, 30);
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    margin-top: 50px;
}

.servicios-bloques:hover{
    background-color: #FEC737;
    box-shadow: 10px 10px 0px 0px;
    cursor: pointer;
}

.servicios-bloques:hover p{
    background-color: rgb(44, 43, 43);
    color: white;
    box-shadow: rgb(31, 30, 30);
    cursor: pointer;
    animation: presionarboton 0.5s forwards;
}

.servicios-bloques:not(:hover) p{
    animation: notpresionarboton 0.5s;
}

.button-gestiondedatos{
    background-color: #1DBF73;
    /* color: white; */
    /* width: 85px;
    margin-left: 28px; */
    box-shadow: rgb(31, 30, 30);
    box-shadow: 5px 5px 0px 0px;
    /* margin-bottom: 20%; */
}

.proyectos{
    width: 100vw;
    height: 1250px;
    display: flex;
    border-bottom: 2px solid #d3d3d3;
    /* padding: 8vh 0px; */
    align-items: center;
}

.proyectos-info{
    width: 90vw;
    height: 100%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    font-family: var(--fuente);
    color: var(--color-letra);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 8vh 0vw; */
    /* background-color: #1DBF73; */

}

.proyectos-info-seccion{
    padding: 7px 20px;
    background-color: #1DBF73;
    border-radius: 50px;
    border-color: none;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.proyectos-info-titulo{
    padding-bottom: 7vh;
    border-bottom: 1px solid #dbdbdb;
    width: 90vw;
    text-align: center;
    font-size: 45px;
}

.proyectos-info-contenedora{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 90vw;
    /* background-color: aquamarine; */
    padding-top: 3vh;
    height: 75%;
    justify-content: center;
}

.proyectos-bloque{
    padding: 3vh 2.5vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.proyectos-img{
    width: 300px;
    height: 300px;
    transition: 0.5s;
    border-radius: 5px;
}

.proyectos-bloque-img-a{
    cursor: pointer;
}

.proyectos-img:hover{
    width: 350px;
    height: 350px;
}

.proyectos-bloque-p{
    font-size: 20px;
    font-weight: 600;
    max-width: 310px;
}

.proyectos-bloque-a{
    color: var(--color-letra);
}

.proyectos-flechas{
    width: 14px;
    color: #FEC737;
    padding-left: 3px;
}

.contacto{
    width: 100vw;
    height: 900px;
    border-bottom: 2px solid #d3d3d3;
    display: flex;
}

.contacto-info{
    width: 90vw;
    height: 100%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    font-family: var(--fuente);
    color: var(--color-letra);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-info-texto{
    padding-top: 4vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-titulo{
    font-size: 40px;
    margin-bottom: 20px;
}

.contacto-p{
    font-size: 20px;
    font-weight: 250;
}

.contacto-formulario{
    display: flex;
    flex-direction: column;
}

.contacto-formulario-contenedor{
    border: 2px solid #d3d3d3;
    border-radius: 8px;
    padding: 35px 95px;
    /* background-color: #1DBF73; */
}

.formulario-label{
    margin-bottom: 12px;
}

.formulario-input{
    margin-bottom: 35px;
    border: 2px solid #d3d3d3;
    width: 300px;
    height: 40px;
}

.formulario-mensaje{
    margin-bottom: 35px;
    height: 100px;
    resize: none;
}

.contacto-button{
        padding: 22px 32px;
        width: 170px;
        background-color: #FEC737;
        font-family: "Inter", Sans-serif;
        color: var(--color-letra);
        font-size: 16px;
        font-weight: 600;
        border-width: 0px;
        border-radius: 2px;
        box-shadow: 5px 5px 0px 0px;
        box-shadow: rgb(31, 30, 30);
        position: relative;
        transition: 0.5s;
        text-decoration: none;
        align-self: center;
}

.contacto-button:hover{
    background-color: rgb(44, 43, 43);
    color: #FEC737;
    box-shadow: rgb(31, 30, 30);
    cursor: pointer;
    animation: presionarboton 0.5s forwards;
}

.contacto-button:not(:hover){
    animation: notpresionarboton 0.5s;
}

.footer{
    height: 10vh;
    width: 100vw;
    /* border-bottom: 2px solid #d3d3d3; */
    display: flex;
}

.footer-info{
    width: 90vw;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    font-family: var(--fuente);
    color: var(--color-letra);
    display: flex;
    flex-direction: column;
    align-items: center;
}