@media(max-width:1920px){
    
}

@media(max-width:1440px){
    
}

@media(max-width:1280px){

}

@media(max-width:1024px){
    .aboutme-info-img{
        padding-left: 60px;
        padding-top: 65px;
        padding-bottom: 40px;
        width: 290px;
    }
    
    .aboutme-info-texto{
        margin-left: 20px;
        margin-top: 65px;
        margin-bottom: 0px;
        /* margin-right: 10px; */
        font-family: var(--fuente);
        max-width: 390px;
    }

    .servicios{
        height: 1300px;
    }
    .servicios-info-info-contenedora{
        flex-wrap: wrap;
        height: 75%;
    }

    .proyectos{
        height: 1750px;
    }

    .footer-linea1{
        font-size: 18px;
    }

    .footer-redes-icon{
        width: 27px;
    }

    /* .button-uxui, .button-disenioweb{
        margin-top: 10%;
    } */
    /* .logo-gestion{
        padding-top: 50px;
        padding-bottom: 0px;
    } */
}

@media(max-width:768px){
    .hero-info-img{
        display: none;
    }
    .hero-info-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button{
        width: 165px;
    }
    .aboutme-info-img{
        display: none;
    }
    .aboutme-info-texto{
        max-width: 430px;
    }
    /* .logo-gestion{
        padding-top: 40px;
        padding-bottom: 0px;
    } */
    .proyectos-img:hover{
        width: 313px;
        height: 313px;
    }

    .contacto{
        height: 1000px;
    }

    .contacto-titulo{
        font-size: 33px;
    }

    .footer-linea1{
        font-size: 15px;
    }

    .footer-redes-icon{
        width: 22px;
        padding-top: 1.5vh;
    }
}

@media(max-width:480px){
    .hero-info-texto-title{
        font-size: 45px;
        max-width: 240px;
    }
    .hero-info-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5vw;
        margin-top: 0px;
    }
    .aboutme-info-texto{
        max-width: 350px;
    }
    .aboutme-info-texto-h3{
        font-size: 40px;
    }

    .proyectos{
        height: 3250px;
    }

    .proyectos-img:hover{
        width: 340px;
        height: 340px;
    }

    .contacto{
        height: 900px;
    }

    .contacto-button{
        padding: 22px 32px;
        width: 150px;
    }

    .formulario-mensaje{
        margin-bottom: 25px;
    }
    
    .contacto-titulo{
        font-size: 28px;
        text-align: center;
    }

    .contacto-p{
        font-size: 16px;
    }

    .contacto-formulario-contenedor{
        padding: 18px 40px;
    }

    .footer{
        height: 18vh;
    }

    .footer-linea1{
        font-size: 12px;
        justify-content: center;
    }

    .footer-redes-icon{
        width: 18px;
        padding-top: 1.5vh;
    }

    .footer-linea1-redes-p{
        display: none;
    }

    .footer-linea1-redes-tel{
        display: none;
    }

    .footer-linea1-redes-email{
        display: none;
    }

    .footer-linea2{
        font-size: 12px;
    }
}

@media(max-width:320px){
    .hero-info-texto-title{
        font-size: 33px;
        max-width: 165px;
    }
    .hero-info-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1vw;
        margin-top: 0px;
    }
    .aboutme-info-texto{
        max-width: 220px;
    }
    .aboutme-info-texto-h3{
        font-size: 30px;
    }
    .aboutme-info-texto-p{
        font-size: 15px;
    }
    /* .logo-disenioweb, .logo-uxui{
        padding-bottom: 40px;
    } */

    .button-gestiondedatos{
        margin-top: 35px;
    }
    .proyectos-img{
        width: 200px;
        height: 200px;
    }

    .proyectos-bloque{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proyectos-bloque-p{
        font-size: 15px;
        font-weight: 600;
        max-width: 200px;
    }

    .proyectos-img:hover{
        width: 230px;
        height: 230px;
    }

    .contacto{
        height: 790px;
    }

    .contacto-button{
        height: 30px;
        width: 125px;
        margin-bottom: 13px;
        padding-bottom: 30px;
        padding-top: 12px;
    }

    .formulario-mensaje{
        margin-bottom: 0px;
    }
    
    .contacto-titulo{
        font-size: 24px;
        text-align: center;
    }

    .contacto-p{
        font-size: 14px;
        max-width: 250px;
    }

    .contacto-formulario-contenedor{
        padding: 10px 25px;
    }

    .formulario-label{
        margin-bottom: 9px;
        font-size: 15px;
    }
    
    .formulario-input{
        margin-bottom: 25px;
        border: 2px solid #d3d3d3;
        width: 200px;
        height: 30px;
    }
    
    .formulario-mensaje{
        margin-bottom: 35px;
        height: 100px;
        resize: none;
    }

    .footer-linea2{
        font-size: 8px;
    }
}

@media(max-width:1220px){
    .foto-retrato{
        width: 300px;
    }
}

@media(min-height:1000px){
.servicios-info-info-seccion{
    width: 80px;
    padding-bottom: 1px;}
}

@media(min-height:900px){
    .servicios-info-info-seccion{
        width: 80px;
        padding-bottom: 0.8px;}
    }

@media(max-width:1001px){
        .servicios{
            height: 2000px;
        }
    }

@media(max-width:830px){
    .empresas-info-logo{
        width: 80px;
    }
}

@media(max-width:790px){
    .header-marca-letra{
        font-size: 20px;
    }
    .nombre-redes{
        font-size: 12px;
    }
}

@media(max-width:560px){
    .header-marca{
        display: none;
    }
    .redes{
        display: none;
    }
    .header-info{
        justify-content: center;
    }
    .header-menu{
        padding: 0px;
    }
    .empresas-info-logo{
        width: 50px;
    }
}

/* @media(min-width:1440px){
    .aboutme-info-texto-p{
    width: 600px;
    }
}

@media(min-width:1620px){
    .aboutme-info-texto-p{
    width: 750px;
    }
}

@media(min-width:1800px){
    .aboutme-info-texto-p{
    width: 950px;
    }
} */

@media(min-height:800px){
    .hero-info-texto-title{
        margin-top: 100px;
    }
}

@media(max-height:670px){
    .foto-retrato{
        width: 400px;
    }
    .empresas-info-logo{
    width: 70px;
    }

    .aboutme-info-texto{
    margin-bottom: 95px;
    }
}

@media(max-height:612px){
    .servicios{
        height: 1300px;
    }
    .servicios-info-info-contenedora{
        flex-wrap: wrap;
        height: 75%;
    }
}

@media(max-height:560px){
    .foto-retrato{
        width: 330px;
    }
    .hero-info-texto-title{
        font-size: 45px;
        margin-bottom: 30px;
    }
    .aboutme-info-texto{
        margin-bottom: 65px;
        margin-top: 65px;
        max-width: 450px;
        }
    .aboutme-info-texto-h3{
        font-size: 35px;
    }
    .aboutme-info-texto-p{
        font-size: 14px;
    }
    .aboutme-info-img{
        width: 400px;
    }
}

@media(max-height:430px){
    .aboutme-info-texto{
        margin-bottom: 65px;
        margin-top: 65px;
        max-width: 950px;
        }
    .aboutme-info-texto-h3{
        font-size: 35px;
    }
    .aboutme-info-texto-p{
        font-size: 14px;
    }
    .aboutme-info-img{
        display: none;
    }
}

@media(max-height:478px){
    .hero-info-img{
        padding: 2vw;
    }
    
    .foto-retrato{
        width: 260px;
    }
    .empresas-info-logo{
        width: 45px;
    }
}



@media(max-height:380px){
    .hero-info-texto-title{
        font-size: 45px;
        margin-bottom: 0px;
    }    
}